{% extends 'base.html.twig' %}

{% block title %}Se connecter - NataTribe{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/bootswatch/dist/journal/bootstrap.min.css') }}">
{% endblock %}
{% block body %}



<div class="container col-sm-6 ">
<div class="g-col-6 g-col-md-4">
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecté sur le compte de {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Merci de vous connecter</h1>

    <div class="form-floating mb-3">
    <input type="email" value="{{ last_username }}" name="email" id="floatingInput" placeholder="Votre adresse email" class="form-control" autocomplete="email" required>
    <label for="floatingInput">Email</label>
    </div>
   
    <div class="form-floating mb-3"> 
    <input type="password" name="password" id="floatingInput" class="form-control" placeholder="Votre mot de passe" autocomplete="current-password" required>
    <label for="inputPassword">Votre mot de passe</label>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

  

    <a href="{{ path('account_password') }}">Mot de passe oublié ?</a>

    <br>
    <br>
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-outline-primary" type="submit">
        Se connecter
    </button>
</form>

</div>
<br>
    <span>Pas encore de compte ? <a href="{{ path('app_register') }}">Inscrivez vous.</a></span>

    </div>


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% endblock %}
